pywinauto==0.6.9
psutil==7.2.2
comtypes==1.4.17
pywin32==312
six==1.17.0
Pillow==12.3.0
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Globalization==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Media.Ocr==3.2.1
winrt-Windows.Storage.Streams==3.2.1
rapidocr_onnxruntime==1.2.3
onnxruntime==1.30.0
opencv-python==5.0.0.93
numpy==2.5.3
